#x1{

      background-color: #1f1f1f;
      border-radius: 10px;
      overflow: hidden;
      width: 200px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      cursor: pointer;
      
    };